<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Band.Name</title>
</head>
<body>
    <h1>@ViewBag.Band.Name</h1>
    <p>@ViewBag.Band.Description</p>
    
    <a href="albums/index">LINK</a>
</body>
</html>